body {
 font-family: Arial, sans-serif;
 background-color: #f2f2f2;
}
.contenedor {
 width: 400px;
 margin: 50px auto;
 padding: 20px;
 background: white;
 border-radius: 10px;
 box-shadow: 0 0 10px gray;
}
h1 {
 text-align: center;
}
label {
 display: block;
 margin-top: 10px;
}
input {
 width: 100%;
 padding: 8px;
 margin-top: 5px;
}
button {
 margin-top: 15px;
 width: 100%;
 padding: 10px;
 background-color: #007BFF;
 color: white;
 border: none;
 cursor: pointer;
}
